.minecraft/.mixin.out/*
.minecraft/crash-reports/*
.minecraft/journeymap/*
.minecraft/logs/*
.minecraft/saves/*
.minecraft/screenshots/*
.minecraft/shaderpacks/*
.minecraft/snapshots-server/*
.minecraft/texturepacks/*
.minecraft/optionsof.txt
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/mods/TheBetweenlands-3.7.2-universal.jar
.minecraft/config/buildcraft/detailed.properties
.minecraft/.mixin.out/audit/mixin_implementation_report.txt
.minecraft/config/ichunutil.cfg
.minecraft/config/InvTweaks.cfg
.minecraft/config/splash.properties
.minecraft/config/UniqueNames.txt
instance.cfg
.minecraft/.mixin.out/audit/mixin_implementation_report.txt
.minecraft/config/buildcraft/detailed.properties
.minecraft/.mixin.out/audit/mixin_implementation_report.txt
instance.cfg
